# Project exclude paths
/2117596/target/
/2473809满足E9考勤打卡支持真实身份认证功能需求开发/target/
/2508343满足提供矩阵数据维护接口供集成模块调用开发/target/
/2563653满足考勤加班单位计算规则需求开发申请/target/
/2635317满足考勤数据导入内网时变更考勤日历的状态功能开发/target/
/2639734鼎兴达客户云盘功能优化/target/
/2640833满足考勤个性打卡规则改造开发/target/
/2658035满足请假申请单加班规则值班申请单相关功能开发/target/
/2669355满足加班统计逻辑改造及请假可按假期类型优先扣减功功能开发/target/
/qc20230816/target/
/qc20230816permission/target/